.header {
    background-color: #1F2937;
}
.h4{
    
}
.a {
    
}

.one {
    background-color: #1F2937;
}
.h1 {
    font: 48px 600 #F9FAF8
}
.p {

}
.button {
    color: #3882F6;
}
.cite {
    
}

.two{

}
.h2 {

}
.three {
    background-color: #E5E7EB
    font 36px #1F2937
    transform: skew(30deg, 0deg)
}

.strong{
....
}

.four {
    background-color: #3882F6;
}

.h3 {

}

}
.footer {
    background-color: #1F2937;
}